#clock_container {
  position: relative;
  background: url(/Blank-Clock-Faces-Template-drawing.gif);
  background-size: 100%;
  height: 45vw;
  width: 45vw;
  left: 27vw;
}
#hour,
#minute,
#second {
  position: absolute;
  background-color: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  left: 48.9%;
  top: 28.1%;
  height: 22%;
  width: 1.5%;
}

#minute {
  left: 49.5%;
  top: 23.2%;
  height: 27%;
  width: 1.5%;
}

#second {
  left: 49.1%;
  top: 15.5%;
  height: 35%;
  width: 0.5%;
}
